#fm-player .cover {
    float: left;
    width: 245px;
    height: 245px;
}

#r span.r_time{
        margin-left: 200px;
        margin-right: 4px;
        font-size: 11px; 
        font-family: _sans; 
        color:#333333;
        display: inline-block;
}

#volume{
    display: none;
    margin-left: 180px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
}
span.r_volume{
        background: url(img/volume.svg);
        width:13px;
        height: 10px;
        display: inline-block;
        margin-right: 2px;
}
div #v_defaultbar{
    height: 2px;
    width: 50px;
    margin-bottom: 4px;
    display: inline-block;
    position: relative;
    background: #e5e5e8;
}

div #v_progress{
    background: #333333;
    width: 0px;
    height: 2px;
    display: inline-block;
    position: absolute;
}

#r  span.artist {
        margin: 0px 0 0 20px;
        font-size: 23px; 
        font-family: _sans; 
        color:#333333;
        display: block;
}

#r  span.title {

        font-size: 13px; 
        font-family: _sans; 
        color:#33ad85;
        display: block;
        margin-left: 20px;
        margin-top: 10px;
}

#r  span.album {
        margin-top: -3px;
        margin-left: 20px;
        font-size: 12px; 
        font-family: _sans; 
        color:#333333;
        display: block;
}

div #c{
        height: 55px;
        width: 265px;
        float: right;

}

div #c .staroff{
    display: inline-block;
    background: url(img/staroff.svg);
    width: 27px;
    height: 27px;
    margin-left: 90px;
    background-size: 27px 27px;
    text-indent: -9999px;
    cursor: pointer;
}

div #c .staroff:hover{
    display: inline-block;
    background: url(img/staroffh.svg);
    width: 27px;
    height: 27px;
    margin-left: 90px;
    background-size: 27px 27px;
    text-indent: -9999px;
    cursor: pointer;
}



div #c .staron{
    display: inline-block;
    background: url(img/staron.svg);
    width: 27px;
    height: 27px;
    margin-left: 90px;
    background-size: 27px 27px;
    text-indent: -9999px;
    cursor: pointer;
}


div #c .trash{
    display: inline-block;
    background: url(img/trash.svg);
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
    text-indent: -9999px;
    margin-left: 30px;
    cursor: pointer;
}

div #c .trash:hover{
    display: inline-block;
    background: url(img/trashh.svg);
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
    text-indent: -9999px;
    margin-left: 30px;
    cursor: pointer;
}

div #c .next{
    display: inline-block;
    background: url(img/next.svg);
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
    text-indent: -9999px;
    margin-left: 30px;
    cursor: pointer;
}
div #c .next:hover{
    display: inline-block;
    background: url(img/nexth.svg);
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
    text-indent: -9999px;
    margin-left: 30px;
    cursor: pointer;
}

div #r {

        height: 160px;
        width: 265px;
        float: right;
}

div #defaultbar{
    height: 2px;
    width: 225px;
    display: block;
    position: relative;
    background: #e5e5e8;
    margin-left: 20px;
}

div #progress{
    background: #9dd6c5;
    width: 0px;
    height: 2px;
    position: absolute;
}

div #p .pause{
        display: block;
        background: url(img/pause.svg);
        background-size: 26px 26px;
        cursor: pointer;
        margin-left: 220px; 
        height: 26px;
        width: 26px;
}

div #p {
        height: 26px;
        width: 265px;
        float: right;
}
div #m{
        display: none;
        height: 245px;
        width: 265px;
        float: right;
        background: #fff;
        z-index: 11;
        position: absolute;
        left: 245px;
        opacity: 0.7;
}

#m span.play{
    margin: 100px 100px;
    font-size: 13px;
    color:#333333;
    display: inline-block;
    cursor: pointer;
}
